.Content {
    text-align: center;
}

.Content-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.menuBtn {
    position: fixed
}

.image {
    display: block;
    margin: 0 auto;
  }
  .image:focus, .image:hover {
    animation: wobble 1s 1;
  }

@keyframes wobble{
      70%{
          transform: rotate(50deg);
      }
     
      
}