.Content {
    text-align: center;
}

.Content-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#menuBtn {
    position: fixed;
    right: 0;
}

#slidingMenu {
    position: fixed;
    right: 0;
    min-height: 100vh;
    background-color: white;
    transition: transform .5s cubic-bezier(0, .52, 0, 1);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#slidingMenu.hide {
    transform: translate3d(100%, 0, 0);
}

#slidingMenu.show {
    transform: translate3d(0, 0, 0);
}

.image {
    display: block;
    margin: 0 auto;
  }
  .image:focus, .image:hover {
    animation: wobble 1s 1;
  }

@keyframes wobble{
      70%{
          transform: rotate(50deg);
      }
     
      
}