version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.16
  terraform: circleci/terraform@1.0.1

jobs:
  checkout-repo:
    docker:
      - image: cimg/base:2020.01
    working_directory: /tmp/workspace
    steps:
      - checkout:
          path: /tmp/workspace/
      - persist_to_workspace:
          root: ./
          paths:
            - "*"

  build-and-test:
    docker:
      - image: cimg/node:16.13.0
    working_directory: /tmp/workspace
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Install dependencies"
          command: npm install
      - run:
          name: "Run tests"
          command: npm run test
      - run:
          name: "Build frontent"
          command: npm run vite:build
      - persist_to_workspace:
          root: ./
          paths:
            - "*"

  validate-and-run-terraform:
    docker:
      - image: hashicorp/terraform:0.14.3
    working_directory: /tmp/workspace
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - terraform/validate:
          path: /tmp/workspace/terraform
      - terraform/apply:
          path: /tmp/workspace/terraform

  upload:
    docker:
      - image: circleci/python:jessie
    working_directory: /tmp/workspace
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=86400"
          from: dist
          overwrite: true
          to: "s3://trulsstenrud.no"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - checkout-repo
      - build-and-test:
          context: react
          requires:
            - checkout-repo
      - validate-and-run-terraform:
          context: aws
          filters:
            branches:
              only:
                - master
          requires:
            - build-and-test
      - upload:
          context: aws
          filters:
            branches:
              only:
                - master
          requires:
            - validate-and-run-terraform
