version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.16

jobs:
  build:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: npm install
      - run: npm run build
  upload:
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=86400"
          from: build
          overwrite: true
          to: 's3://trulsstenrud.no'

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - upload:
          filters:
            branches:
              only:
                - master
          requires:
            - build