version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.16
  node: circleci/node@3.0.0

jobs:
  build:
    docker:
      - image: circleci/node:jessie
    steps:
      - checkout
      - run: npm run build
      - run: ls
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=86400"
          from: build
          overwrite: true
          to: 's3://trulsstenrud.no'
