

.weatherCard{
    background-color: white;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 25em;
    min-height: 3em;
    
    margin: .2em;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
}

img{
    max-height: inherit;
    width: auto;
  height: auto;
}

.item{
    flex-grow: .5;
    max-height: 2em;
}
.item-center{
    flex-grow: 4;
}

.innerWeatherCard{
    background-color: white;
    color:black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 20em;
    min-height: 2.5em;
    font-size: 15px;
    margin: .1em;
}

#detail {
    max-height: 0; 
    height: 100%;
    overflow: hidden;
    transform-origin: top;
    transition: max-height 1s ease;
}

#detail.open {
    max-height: 100%;
}
