

.container {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

@media (hover: hover) and (pointer: fine){
   .container:hover{
        background-color: #55555555;
    }
}
  
#bar1, #bar2, #bar3 {
    min-width: 35px;
    min-height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 4px;
}
  
#bar1.change  {
    -webkit-transform: rotate(45deg) scaleX(1.4142135624) translate(-4.5px, -8.5px);
    transform: rotate(-45deg) scaleX(1.4142135624) translate(-4.5px, 8.5px);
}
  
#bar2.change {opacity: 0;}
  
#bar3.change {
    -webkit-transform: rotate(45deg) scaleX(1.4142135624) translate(-4.5px, -8.5px);
    transform: rotate(45deg) scaleX(1.4142135624) translate(-4.5px, -8.5px);
}